.header__square-pic {
    position: absolute;
    z-index: 0;
    background-color:#2f80ed;
    background-size: contain;
    top: 64px;
    right: 0px;
    width: 568px;
    height: 568px;
    align-self: flex-end;
  }